:root{
    --primary-color: #131842;
    --secondary-color: #ECCEAE;
    --accent-color: #E68369;

    --white: #fff;
    --black: #000;
    --gray: #333;

    --red: #FF0000;
    --green: #11AA22;
}


