.persons-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__persons-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__button-add-person {
        border-radius: 10px;
        width: 120px;
        border-style: solid;
        border-color: var(--accent-color);
        background-color: var(--secondary-color);
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            transition: all 0.3s ease;

            background-color: var(--green);
            cursor: pointer;
            transform: scale(1.1);

        }

        &__icon{
            font-size: 20px;
            color: var(--green);
        }
        &:hover &__icon{
            color: var(--white);
        }
    }


    &__button-remove-person {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        border-style: solid;
        border-color: var(--accent-color);
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon{
            font-size: 20px;
            color: var(--red);

        }

        &:hover{
            transition: all 0.3s ease;

            background-color: var(--red);
            cursor: pointer;
            transform: scale(1.1);

        }
        &:hover &__icon{
            color: var(--white);
        }
    }

}

.persons-container__person-card-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
  }

